@if (ViewBag.JSON != null)
{
    Layout = null;
    @ViewBag.JSON
}

@{
    ViewBag.Title = "Search";
}

<h2>Looking for books ?</h2>
@using (Html.BeginForm("Search", "Books", FormMethod.Get))
{
    <text>Your request : </text>@Html.TextBox("query");<br />
    <text>Search by : </text> <select name="searchBy">
        <option value="0">Title</option>
        <option value="1">Author</option>
    </select><br />
    <input type="submit" value="Search" />
}

@if (ViewBag.books != null)
{
    if (ViewBag.books.Count == 0)
    {
        <p>Your query didn't match any existing book.</p>
    }
    else
    {
        <table>
            <tr>
                <th>Author</th>
                <th>Title</th>
            </tr>
            @foreach (var book in ViewBag.books)
            {
                <tr>
                    <td>@book.Author</td>
                    <td>@Html.ActionLink((string)book.Title, "Details", new { isbn = book.ISBN })</td>
                </tr>
            }
        </table>
    }
}