@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Borrowers", FormMethod.Get))
{
    <text>Username : </text> @Html.TextBox("username");<br />
    <text>Password : </text> @Html.Password("password");<br />
    
    <input type="submit" value="Log in" />
}